* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease;
}

a {
  text-decoration: none;
}
:root {
  --green: #26B447;
}
ul , li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans";
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
}
.content {
  max-width: calc(1520px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
  padding: 0 25px;

  &.open {
    display: block;
  }
}
.menu-modal {
  height: 100vh;
  display: flex;
  padding: 50px 0 0 0;
  max-width: 650px;
  width: 100%;
  flex-direction: column;
  gap: 26px;
  background: #262D2A;
  position: fixed;
  transition: right .5s linear, opacity .2s ease;
  top: 0;
  right: -200%;
  z-index: 20 ;
  opacity: 0;
  &.active {
    transition: right .5s linear, opacity .2s ease;
    right: 0;
    opacity: 1;
  }
  .close-row {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    .close-btn {
      cursor: pointer;
    }
  }
  .menu-modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 50px 50px;
    overflow-y: auto;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 45px;
      li {
        a {
          display: flex;
          gap: 20px;
          align-items: center;
          color: #A9AEB9;
          font-family: "Noto Sans";
          font-size: 25px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          &::before {
            content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z' fill='%23A9AEB9'/%3E%3Cpath d='M10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4C10.8954 4 10 4.89543 10 6Z' fill='%23A9AEB9'/%3E%3Cpath d='M10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18Z' fill='%23A9AEB9'/%3E%3C/svg%3E");
            margin-top: 5px;
          }
          &:hover {
            color: #FFFFFF;
            &::before {
              content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z' fill='%2326B447'/%3E%3Cpath d='M10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4C10.8954 4 10 4.89543 10 6Z' fill='%2326B447'/%3E%3Cpath d='M10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18Z' fill='%2326B447'/%3E%3C/svg%3E");
              margin-top: 5px;
            }
          }
        }
      }

    }
    .social {
      display: flex;
      gap: 50px;
      a {
        width: 54px;
        height: 54px;
        border-radius: 100px;
        &.tg {
          background: #2AA1DD;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.watsapp {
          background: #3ADC49;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .working-hours {
      display: flex;
      padding: 10px 15px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      align-self: stretch;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.05);
      p {
        color: #A9AEB9;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        span {
          color: #A9AEB9;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
.header {
  .header-row1 {
    border-radius: 3px;
    background: linear-gradient(90deg, #3ADC49 0%, #006943 100%);
    height: 65px;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .info {
        display: flex;
        .phone-select {
          position: relative;
          padding: 10px ;
          border-radius: 10px 10px 0 0;
          display: none;
          @media (max-width: 1024px) {
            display: block;
          }

          &.active {
            background: #fff ;

            .ph-select {
              display: flex;
              gap: 10px;
              align-items: center;
              &.active {
                &::after {
                  //transform: rotate(180deg);
                }
              }
              p {
                color: #262D2A;
                font-family: "Noto Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;
              }

            }
          }
          .ph-select {
            display: flex;
            gap: 10px;
            align-items: center;
            &.active {
              &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5.29289 16.2071C5.68342 16.5976 6.31658 16.5976 6.70711 16.2071L12 10.9142L17.2929 16.2071C17.6834 16.5976 18.3166 16.5976 18.7071 16.2071C19.0976 15.8166 19.0976 15.1834 18.7071 14.7929L12.7071 8.79289C12.3166 8.40237 11.6834 8.40237 11.2929 8.79289L5.29289 14.7929C4.90237 15.1834 4.90237 15.8166 5.29289 16.2071Z' fill='%2326B447'/%3E%3C/svg%3E");

              }
              &::before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='%231FA547' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }
            p {
              color: #FFF;
              font-family: "Noto Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block;
              padding-top: 5px;
            }
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5.29289 8.79289C5.68342 8.40237 6.31658 8.40237 6.70711 8.79289L12 14.0858L17.2929 8.79289C17.6834 8.40237 18.3166 8.40237 18.7071 8.79289C19.0976 9.18342 19.0976 9.81658 18.7071 10.2071L12.7071 16.2071C12.3166 16.5976 11.6834 16.5976 11.2929 16.2071L5.29289 10.2071C4.90237 9.81658 4.90237 9.18342 5.29289 8.79289Z' fill='white'/%3E%3C/svg%3E");
              display: block;
              transition: .3s ease;
              padding-top: 5px;
            }

          }
          .phone-select-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            display: flex;
            padding: 0 10px 10px;
            flex-direction: column;
            align-items: flex-start;
            z-index: 11;
            gap: 10px;
            border-radius: 0 0 10px 10px;
            background: #FFF;
            box-shadow: 0px 8px 9.2px -7px rgba(0, 0, 0, 0.25);
            display: none;
            &.active {
              display: flex;
            }
            a {
              color: #262D2A;
              font-family: "Noto Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: inline;
              width: unset;
              height: unset;
              padding: 0 30px;
              &:hover {
                color: var(--green);
              }
            }
          }
        }
      }
      .location {
        display: flex;
        gap: 10px;
        align-items: center;
        @media (max-width: 1024px) {
          display: none;
        }
        span {
          color: #FFF;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .navigation {
        display: flex;
        .navigation-list {
          display: flex;
          @media (max-width: 1024px) {
            display: none;
          }
          li {
            a {
              display: flex;
              height: 65px;
              padding: 20px 30px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              color: #FFF;
              font-family: "Noto Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              position: relative;
              &::after {
                content: '';
                width: 100%;
                height: 0;
                transition: .3s ease;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(243, 255, 172, 0.41) 100%);
                display: block;
              }
              &:hover {
                &::after {
                  height: 65px;
                }
              }

            }

          }
        }
        .burger-btn {
          display: flex;
          padding: 20px 30px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
          @media (max-width: 1024px) {
            padding: 20px 10px;
          }
          &::after {
            content: '';
            width: 100%;
            height: 0;
            transition: .3s ease;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(243, 255, 172, 0.41) 100%);
            display: block;
          }
          &:hover {
            &::after {
              height: 65px;
            }
          }
        }
      }
    }
  }
  .header-row2 {
    padding: 50px 0;
    background: #FAFAFA;
    @media (max-width: 1024px) {
      padding: 30px 0 20px;
    }
    .content {
      display: flex;
      gap: 50px;
      align-items: center;
      @media (max-width: 1470px) {
        gap: 20px;
      }
      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 30px;
      }
      .company-logo {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
          svg {
            @media(max-width: 1024px) {
              width: 98px;
              height: 52.941px;
            }
          }
        }
        .line {
          width: 1px;
          height: 71px;
          background: #D9E7DA;
          flex-shrink: 0;
          @media(max-width: 1024px) {
            height: 52.941px;
          }
        }
        p {
          color: #262D2A;
          font-family: "Noto Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          max-width: 326px;
          width: 100%;
          @media (max-width: 1024px) {
            color: #262D2A;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      .search {
        flex-grow: 1;
        position: relative;
        @media(max-width: 1024px) {
          width: 100%;
        }
        input {
          display: flex;
          padding: 10px 20px;
          justify-content: space-between;
          align-items: stretch;
          width: 100%;
          height: 46px;
          border-radius: 10px;
          border: 1px solid #CDCDCD;
          outline: none;

          &::placeholder {
            color: #CDCDCD;
            font-family: "Noto Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        button {
          position: absolute;
          top: 50%;
          right: 20px;
          border: none;
          transform: translateY(-50%);
          background: transparent;
        }
      }
      .working-time {
        display: flex;
        padding: 10px 15px;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background: #FFF;
        @media (max-width: 1320px) {
          display: none;
        }
        p {
          color: #A9AEB9;
          font-family: "Noto Sans";
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          span {
            color: #A9AEB9;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      a {
        &.tg {
          width: 34px;
          height: 34px;
          border-radius: 100px;
          background: #CDCDCD;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: #2AA1DD;
          }
          @media (max-width: 1320px) {
            display: none;
          }
        }
        &.watsapp {
          width: 34px;
          height: 34px;
          border-radius: 100px;
          background: #CDCDCD;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: #3ADC49;
          }
          @media (max-width: 1320px) {
            display: none;
          }
        }
      }
      .phone-select {
        position: relative;
        padding: 10px ;
        border-radius: 10px 10px 0 0;
        cursor: pointer;

        @media (max-width: 1024px) {
          display: none;
        }

        &.active {
          background: #fff ;

          .ph-select {
            display: flex;
            gap: 10px;
            align-items: center;
            &.active {
              &::after {
                //transform: rotate(180deg);
              }
            }
            p {
              color: #262D2A;
              font-family: "Noto Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              cursor: pointer;
            }

          }
        }
        .ph-select {
          display: flex;
          gap: 10px;
          align-items: center;
          &.active {
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5.29289 16.2071C5.68342 16.5976 6.31658 16.5976 6.70711 16.2071L12 10.9142L17.2929 16.2071C17.6834 16.5976 18.3166 16.5976 18.7071 16.2071C19.0976 15.8166 19.0976 15.1834 18.7071 14.7929L12.7071 8.79289C12.3166 8.40237 11.6834 8.40237 11.2929 8.79289L5.29289 14.7929C4.90237 15.1834 4.90237 15.8166 5.29289 16.2071Z' fill='%2326B447'/%3E%3C/svg%3E");
              transform: rotate(0);
            }
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='%231FA547' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
          }
          p {
            color: #262D2A;;
            font-family: "Noto Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='%231FA547' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            display: block;
            padding-top: 5px;
          }
          &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5.29289 16.2071C5.68342 16.5976 6.31658 16.5976 6.70711 16.2071L12 10.9142L17.2929 16.2071C17.6834 16.5976 18.3166 16.5976 18.7071 16.2071C19.0976 15.8166 19.0976 15.1834 18.7071 14.7929L12.7071 8.79289C12.3166 8.40237 11.6834 8.40237 11.2929 8.79289L5.29289 14.7929C4.90237 15.1834 4.90237 15.8166 5.29289 16.2071Z' fill='%2326B447'/%3E%3C/svg%3E");
            display: block;
            transform: rotate(180deg);
            transition: .3s ease;
            padding-top: 5px;
          }

        }
        .phone-select-wrapper {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          display: flex;
          padding: 0 10px 10px;
          flex-direction: column;
          align-items: flex-start;
          z-index: 11;
          gap: 10px;
          border-radius: 0 0 10px 10px;
          background: #FFF;
          box-shadow: 0px 8px 9.2px -7px rgba(0, 0, 0, 0.25);
          display: none;
          &.active {
            display: flex;
          }
          a {
            color: #262D2A;
            font-family: "Noto Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: inline;
            width: unset;
            height: unset;
            padding: 0 30px;
            &:hover {
              color: var(--green);
            }
          }
        }
      }
    }
  }
}

.services {
  background: #FAFAFA;
  padding: 50px 0;
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2 {
      color: #262D2A;
      font-family: "Noto Sans";
      font-size: 45px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      @media (max-width: 1024px) {
        color: #262D2A;
        text-align: center;
        font-family: "Noto Sans";
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
      }
    }
    .swiper-container {
      width: 100%;
      .services-swiper {
        width: 100%;
        height: 478px;
        .swiper-slide {
          .service-card {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: 590px) {
              height: 500px;
            }
            img {
              width: 100%;
              height: 100%;
              object-position: center;
              object-fit: cover;
            }
            .sale-shadow {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 141px;
              z-index: 1;
              background: linear-gradient(180deg, rgba(34, 39, 42, 0.00) 0%, rgba(34, 39, 42, 0.80) 73.94%);
              transition: .3s ease;
            }
            .sale-info {
              display: flex;
              flex-direction: column;
              gap: 5px;
              padding: 30px;
              z-index: 3;
              position: absolute;
              top: 0;
              left: 0;
              .label {
                display: flex;
                gap: 0px;
                align-items: center;
                border-radius: 5px;
                background: #C70000;
                padding: 5px 10px;
                justify-content: center;
                flex-shrink: 0;
                width: fit-content;
                span {
                  color: #FFF;
                  font-family: "Open Sans";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  text-transform: uppercase;

                }
                .icon {
                  width: 0;
                  overflow: hidden;
                }
              }
              .counter {
                display: inline-flex;
                height: 34px;
                padding: 5px 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 5px;
                background: #22272A;
                span {
                  color: #FFF;
                  font-family: "Open Sans";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
            }
            .sale-content {
              transition: .3s ease;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              gap: 30px;
              padding: 30px;
              z-index: 2;
              p {
                color: #FFF;
                font-family: "Open Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .link {
                height: 0;
                overflow: hidden;
                a {
                  display: flex;
                  padding: 15px 20px;
                  align-items: center;
                  gap: 10px;
                  border-radius: 5px;
                  border: 1px solid rgba(255, 255, 255, 0.50);
                  width: fit-content;
                  align-items: center;
                  span {
                    color: #FFF;
                    font-family: "Open Sans";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }
                  .icon {
                    display: flex;
                    align-items: center;
                    width: 0;
                    overflow: hidden;
                  }
                  &:hover {
                    background: var(--green);
                    gap: 10px;
                    span {
                      color: #22272A;
                    }
                    .icon {
                      width: 24px;
                      svg path {
                        fill: #22272A;
                      }
                    }
                  }
                }
              }

            }
            &:hover {
              transition: .3s ease;
              .sale-shadow {
                transition: .3s ease;
                height: 500px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.94%);
              }
              .sale-content {
                .link {
                  height: 63px;
                }

              }
              .sale-info {
                .label {
                  gap: 10px;
                  .icon {
                    width: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
